@use "rtg-design-web" as *;

.button-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include at-media("phone-lg") {
    flex-direction: row;
  }
}

.button-group .item {
  margin: units(0.5);
}
